:root {
  --font-family: Inter, sans-serif;
  --font-size: 16px;

  --color-primary: #FEFF80;

  --text-primary: #000000;
  --line-height: 1.6;

  --background-primary: #FFFFFF;
  --background-secondary: #F3F3F3;

  --strokes-primary: #D4D4D4;
  --strokes-secondary: #E6E6E6;

  --error-color: #F00000;

  --gray: #838383;

  --container-padding: 30px;
}

@mixin custom-scroll {
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: var(--strokes-primary) transparent;

  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--strokes-primary);
    border-radius: 3px;
    transition: background-color 0.3s;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: var(--strokes-primary);
  }
}
