{
  "root": true,
  "env": { "browser": true, "es2021": true },
  "ignorePatterns": ["dist", ".eslintrc", "build", "vite.config.ts", "node_modules"],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": "latest",
    "sourceType": "module"
  },
  "plugins": ["react", "@typescript-eslint", "simple-import-sort", "@tanstack/query", "prettier"],
  "rules": {
    "prettier/prettier": "error",
    "linebreak-style": ["error", "unix"],
    "quotes": ["error", "single"],
    "comma-spacing": ["error", { "before": false, "after": true }],
    "semi-spacing": ["error", { "before": false, "after": true }],
    "array-bracket-newline": ["error", { "multiline": true }],
    "no-console": "error",
    "no-restricted-exports": ["error", 
      { "restrictDefaultExports": 
        { "direct": true, "defaultFrom": true }
      }
    ],
    "@typescript-eslint/no-unused-vars": "error",
    "simple-import-sort/imports": "error",
    "react/react-in-jsx-scope": "off"
  }
}
