$modal-background: rgba(0, 0, 0, 0.5);

$modal-content-background: #fff;
$modal-content-border-radius: 8px;
$modal-content-padding: 30px;
$modal-content-width: 600px;
$modal-content-max-width: 90%;
$modal-content-max-height: 90%;

$modal-title-font-size: 20px;
$modal-title-font-weight: 500;

$modal-header-height: 82px;

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $modal-background;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
  z-index: 1000;
  overflow: hidden;
  
  &.open {
    opacity: 1;
    visibility: visible;
  }

  @media (max-width: 768px) {
    background-color: transparent;
  }
}

.modalContent {
  background-color: $modal-content-background;
  border-radius: $modal-content-border-radius;
  padding: $modal-content-padding;
  width: $modal-content-width;
  max-width: $modal-content-max-width;
  max-height: $modal-content-max-height;
  overflow: auto;
  position: relative;
  transform: translateY(20px);
  opacity: 0;
  transition: all 0.3s ease;
  
  .open & {
    transform: translateY(0);
    opacity: 1;
  }

  .title {
    font-size: $modal-title-font-size;
    font-weight: $modal-title-font-weight;
  }
  
  @media (max-width: 768px) {
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: calc(100% - $modal-header-height);
    border-radius: 0;
    margin-top: $modal-header-height;
  }
}
