$border-color: var(--strokes-secondary);

.accountsPageWrapper {
  padding: 0 var(--container-padding);
  flex: 1;
  background-color: var(--background-primary);
}

.accountsPageContent {
  width: 100%;
  max-width: 800px;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.accountsList {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.accountItem {
  padding: 10px 0;
  display: flex;
  align-items: center;
  gap: 12px;
  border-bottom: 1px solid $border-color;

  &:first-child {
    border-top: 1px solid $border-color;
  }
}

.userInfo {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.userEmail {
  color: var(--gray);
}

@media (max-width: 768px) {
  .userInfo {
    flex-direction: column;
    align-items: flex-start;
  }
}
